<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{HH:mm:ss.SSS} %blue(%-5level) %magenta(%logger{36}) - %msg %n
            </Pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <logger name="com.todo" level="INFO"/>
    <logger name="org.hibernate.type" level="ERROR" />
    <logger name="org.hibernate" level="INFO" />
    <Logger name="org.apache.tomcat" level="INFO" />
    <Logger name="org.apache.catalina" level="INFO" />

    <root level="INFO">
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>